################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/AppCleaner/.vs/AppCleaner/v15/Server/sqlite3
